.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//-----------------
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Grid items will automatically adjust based on available space */
  gap: 10px; /* Spacing between grid items */
}

.grid-item {
  background-color: #3498db; /* Blue background color */
  color: white; /* White text color */
  padding: 20px;
  text-align: center;
  width: 10rem;
  margin: 0.3rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 5rem;
  border: 1px solid black;
}

.circle {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.2);
  animation: pulse 1.5s infinite alternate; /* Glowing animation */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.7); /* Start glowing */
  }
  100% {
    box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0.2); /* End glowing */
  }
}